asyncpg~=0.29.0
aiohttp~=3.9.2
lru-dict~=1.0
discord.py[speed] @ git+https://github.com/JohannesIBK/discord.py@e8f4a2b837948c236e1c53985533a0857b769679
recordclass~=0.0
python-dateutil~=2.8.2
aiolimiter~=1.1.0
uvloop~=0.0; platform_system == "Linux"
grpcio~=1.0
yarl
protobuf~=4.0